<div class="form-container">
    <form class="new-comment-form">
        <label for="new-comment-text">Comment on this post</label>
        <textarea name="new-comment-text" id="new-comment-text" placeholder="Comment on this post"></textarea>
        <div>
            <button type="submit" id="new-comment-btn">Add Comment</button>
        </div>
    </form>
</div>
<script src="/javascript/comment.js"></script>