<div class="post-page">
    <section>
        <h2>Create a Post</h2>
        <form class="new-post-form">
            <label for="post-title">Title</label>
            <input id="post-title" name="post-title" placeholder="Title" />
            <div>
                <textarea name="post-text" id="post-text" placeholder="Post here"></textarea>
            </div>
            <button type="submit" id="create-post-btn">Create Post</button>
        </form>
    </section>
    {{#if posts.length}}
    <hr>
    <section class="post-list">
        <h2>Your Posts</h2>
        {{#each posts as |post|}}
        {{> post-info post}}
        <div class="edit-buttons">
            <a href="/edit/{{post.id}}">Edit</a>
            <button type="button" class="delete-btn" id="{{post.id}}">Delete</button>
        </div>
        {{/each}}
    </section>
    {{/if}}
</div>

<script src="/javascript/add-post.js"></script>
<script src="/javascript/delete-post.js"></script>