<article>
    <div>
        <h2>Random Title</h2>
        <p>Created at now</p>
    </div>
    <div>
        <p>Random details from a post</p>
    </div>
</article>
<article>
    <div>
        <h2>Random Title</h2>
        <p>Created at now</p>
    </div>
    <div>
        <p>Random details from a post</p>
    </div>
</article>
<article>
    <div>
        <h2>Random Title</h2>
        <p>Created at now</p>
    </div>
    <div>
        <p>Random details from a post</p>
    </div>
</article>