<div class="article-container">
    <article>
        <div class="article-header">
            <h2>Random Title</h2>
            <p>Created at now</p>
        </div>
        <div class="article-text">
            <p>Random details from a post</p>
        </div>
    </article>
    <article>
        <div class="article-header">
            <h2>Random Title</h2>
            <p>Created at now</p>
        </div>
        <div class="article-text">
            <p>Random details from a post</p>
        </div>
    </article>
    <article>
        <div class="article-header">
            <h2>Random Title</h2>
            <p>Created at now</p>
        </div>
        <div class="article-text">
            <p>Random details from a post</p>
        </div>
    </article>
</div>