<section class="login-container">
    <form class="login-form">
        <h2>Login</h2>
        <div>
            <label for="username-login">Username</label>
            <input type="text" name="username-login" placeholder="Username" />
        </div>
        <div>
            <label for="password-login">Password</label>
            <input type="text" name="password-login" placeholder="Password"/>
        </div>
        <div>
            <button type="submit" class="submit-btn">login</button>
        </div>
    </form>
    <hr>
    <form class="create-form">
        <h2>Create Profile</h2>
        <div>
            <label for="username-create">Username</label>
            <input type="text" name="username-create" placeholder="Username"/>
        </div>
        <div>
            <label for="email-create">Email</label>
            <input type="text" name="email-create" placeholder="Email"/>
        </div>
        <div>
            <label for="password-create">Password</label>
            <input type="text" name="password-create" placeholder="Password"/>
        </div>
        <div>
            <button type="submit" class="submit-btn">create profile</button>
        </div>
    </form>
</section>