<div class="main-post">
    <article>
        <div class="main-article-header">
            <div>
                <h2>{{post.title}}</h2>
                <p>Created by {{post.user.username}} on {{format_date post.created_at}}</p>
            </div>
        </div>
        <div class="article-text">
            <p>{{post.post_text}}</p>
        </div>
    </article>
    {{#if loggedIn}}
    <hr>
    {{> comment-forms}}
    {{/if}}

    {{#if post.comments}}
    <div class="comments">
        {{#each post.comments as |comment|}}
        {{> comments comment}}
        {{/each}}
    </div>
    {{/if}}

</div>